<!DOCTYPE html>
<html>
<head>
  <title>ControllerExercise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<br><%= link_to "sports","http://sports.com" %>   </br>
<br><%= link_to "User list", "/users" %>    </br>
<br><%= link_to "Product List", "/products" %>  </br>

<%= yield %>

</body>
</html>
